body{
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
}

hr{
    border:dotted #70af85 6px;
    border-bottom: none;
    width:30%;  
}
/* Header style------------------------------------------------------------- */
.header-container{
    background-color: rgb(240, 240, 251);
     position: fixed;
     /* display:block; */
    width: 100% ;  
    /* border: solid #FF8326; */
}

.img-logo-top{
    height:7vh;
    margin:5px 15px 5px 5px;
    /* display:inline-block; */
}

.name-in-top{
    color: #00A2E8;
    display: inline-block;
    font-size: 2.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.navEllement{
    display: inline-block;
    padding-top: 5px;
    font-size: 20px;
    /* background-color: lawngreen; */
    width:130px;
    height:33px;
    text-align: center;
    /* border:1px solid rgb(101, 101, 250); */
    margin: 0 auto 0 auto;
}

.nav{
    display: inline;
}

/* Middle container style------------------------------------------------------------- */

.middle-container{
    text-align: center;
    color: darkblue;
    background-color: rgb(133, 245, 118);
    padding-top: 5%;
    padding-bottom: 5%;
}

h2.middle-container{
margin-block-start: 0;
margin-block-end: 0;
font-size: 2.5rem;
}

.experience-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.experience-img-study{
    width:25%;
    float:left;
    margin-right: 30px;
}

.experience-img-mine{
    width:25%;
    float: right;
    margin-left: 30px;
}

.experience-img-mine-college{
    width:25%;
    float:left;
    margin-right: 30px;
}

.experience-img-mechanic{
    width:25%;
    float: right;
    margin-left: 30px;
}

.experience-img-mechanic-college{
    width:25%;
    float:left;
    margin-right: 30px;
}
.btn {
  background: #34d99c;
  background-image: -webkit-linear-gradient(top, #34d99c, #1d8a37);
  background-image: -moz-linear-gradient(top, #34d99c, #1d8a37);
  background-image: -ms-linear-gradient(top, #34d99c, #1d8a37);
  background-image: -o-linear-gradient(top, #34d99c, #1d8a37);
  background-image: linear-gradient(to bottom, #34d99c, #1d8a37);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #58cf40;
  background-image: -webkit-linear-gradient(top, #58cf40, #3ffc3f);
  background-image: -moz-linear-gradient(top, #58cf40, #3ffc3f);
  background-image: -ms-linear-gradient(top, #58cf40, #3ffc3f);
  background-image: -o-linear-gradient(top, #58cf40, #3ffc3f);
  background-image: linear-gradient(to bottom, #58cf40, #3ffc3f);
  text-decoration: none;
}
/* Fotter style------------------------------------------------------------- */
.footer-container{
    
    background-color: #cfdac8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.made{
    margin-block-end: 0;
}
