body{
    padding-top: 15%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 240, 251);
    margin: 0px;
}


.cloudTop{
margin-top: 50px;
    /* margin-left: -150px; */
    /* transition: ease all 15s; */
    animation-name: cloudOne;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cloudBottom{
        animation-name: cloudTwo;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-iteration-count: infinite ;
    }
  
@keyframes cloudOne{
    0%{
        margin-left:50px;
    }
    100%{
        margin-left:1000px;
    }
}


@keyframes cloudTwo{
    100%{
        margin-left:50px;
    }
    0%{
        margin-left:1000px;
    }
}

.navEllement{
    display: inline-block;
    padding-top: 15px;
    font-size: 20px;

    width:130px;
    height:33px;
    background-image: url('../img/cloud.png');
    text-align: center; 
}

.nav{
    position: fixed;
}

