*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(75, 75, 156, 0.096);
 
}

.toDoWrapper{
  margin-left: 300px;
  padding-top: 50px;
  margin-right: 300px;
}

#titleList{
text-align: center;
}